body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.controls {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parameters {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plot-and-formula {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

.formula {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-right: 10px;
}

#params label,
#params input {
    margin: 5px;
}

#plot {
    width: 60%;
    height: 400px;
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
